<!DOCTYPE HTML>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shopping Cart - Julian Saavedra</title>
  </head>

<body>

<div layout:fragment="content">
    <table class="table table-hover">
        <thead>
            <th></th>
            <th>ID</th>
            <th>Book Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Available In</th>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td><img th:src="${book.imgUrl}" class="img-fluid" style="width:75px; height;225px" ></td>
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="'$' + ${book.price}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.bookAvailability}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>