<!DOCTYPE HTML>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shopping Cart - Julian Saavedra</title>
</head>

<body>

<div layout:fragment="content">


    <div th:if="${contents.getNrOfElements() == 0}" class="alert alert-warning" role="alert">Shopping Cart Empty</div>

    <table th:if="${contents.getNrOfElements() > 0}" class="table table-hover">
        <thead >
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Price</th>
        </thead>
        <tbody>
        <tr th:each="item : ${contents.pageList}">
            <td><img th:src="${item.imgUrl}" class="img-fluid" style="width:75px; height;225px" ></td>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="'$' + ${item.price}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>